*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sens-serif;

   }


/* --------------------------------------------------------- */
/* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  } 
  /* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
}

  /* Large devices (laptops/desktops, 992px and down) */
  @media only screen and (max-width: 992px) {
       
    /* #image-col-1 p{
     font-size: 12px;
    }

    #image-col-1 button{
    font-size: 14px;
    } */

    
  } 
  
  

 /* Large devices (laptops/desktops, 992px and down) */
  @media only screen and (max-width: 992px) {
    
    
    .top-container-third{
        height:auto;
        display: flex;
        /* flex-wrap: wrap; */
        /* align-content: flex-start; */
        grid-column: 2 / 12;
        gap: 5px;
        /* border: 1px solid rgb(255, 81, 0); */
    }
    .left-element-under-top-container-second{
        /* width: 100%; */
        /* height: auto; */
        grid-column: 1 / 13;
    }
    .right-element-under-top-container-second{
        width: 100%;
        height: auto;
        grid-column: 1 / 12;
    }
    .left-element-under-top-container-thired{
        width: 100%;
        /* grid-column: 1 / 13; */
    }
.element01-under-left-element-under-top-container-thired{
    width: 100%;
}
.element02-under-left-element-under-top-container-thired{
    width: 100%;

}

.element03-under-left-element-under-top-container-thired{
    width: 49%;

}
.element04-under-left-element-under-top-container-thired{
    width: 49%;

}
.element05-under-left-element-under-top-container-thired{
    width: 49%;

}
.element06-under-left-element-under-top-container-thired{
    width: 49%;

}
.right-element-under-top-container-thired{
width: 100%;
    /* grid-column: 1 / 13; */

}
#element-right{
width: 100%;
}
#footer-top-section01-column{
    width: 25%;
    height: auto;
    /* margin: 0px 5px 0px 5px; */
    padding: 25px 0px 20px 0px;
    /* border: 1px solid var(--color-border-main); */
}
#footer-top-section01-column ul li a{
    /* font-size: 12px; */
    /* padding-top: 10px; */
    text-decoration: none;
    
}


#footer-bottom-section01-column01{
    width: 25%;
    height: auto;
    /* margin: 0px 5px 0px 5px; */
    padding: 25px 0px 20px 0px;
    /* border: 1px solid var(--color-border-main); */
}
#footer-bottom-section01-column01 ul li a{
    /* font-size: 12px; */
    /* padding-top: 10px; */
    text-decoration: none;
    
}
#footer-bottom-section01-column01 h3{
    Color: var(--btn-primary-text);
    text-decoration: underline;
    /* font-size: 18px; */
}
#footer-bottom-section01-column02{
    width: 50%;
    padding-top: 60px;
    
}



span{
    color: rgb(248, 246, 246);
    font-size: 13px;
    font-weight: bold;
    
}
}
   
 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Medium devices (landscape tablets, 600px and up) */
  @media only screen and (min-width: 600px) {
   
  }


/* ---------------------------------------------------------------------- */

